.onhover{
  position: absolute;
  background-color: white;
  border-radius: 4px;
  width: 200px;
  top: -17px;
  left: 69px
}
.onhover p{
  margin: 0px;
}
.arrow{
  left: -11px;
  top: 24px;
  width: 0px;
  height: 0px;
  border-right: 10px solid white;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
}
.lightblue{
  background-color: lightskyblue;
}
.red{
  background-color: #f8e0e7;
}
.yellow{
  background-color: #e0e0f8;
}